.container  {
    background-color: #ffffff;
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

/* header */

.header  {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header__headerDiv  {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header__headerDiv--nonflexed{
    display: block;
    text-align: center;
}

.header__items  {
    margin: 0;
}

.header__items--hr{
    height: 2px;
    background-color: black;
    border: 0;
    margin: 0;
}

.header__head  {
    font-size: 113px;
    margin: 0;
}

/* main content */

.sections  {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.sections__sectionDivs  {
    font-family: 'Source Serif Pro', serif;
}

.sections__sectionDivs--empty  {
    background-color: #e0e0e0;
    max-width: 350px ;
}

.sections__sectionDivs--small  {
    max-width: 310px;
}

.sections__sectionDivs--large  {
    max-width: 350px;
}

.sectionDivs__head  {
    font-size: 28px;
    margin: 10px 0;
}

.sectionDivs__datestamp  {
    font-size: 12px;
    font-weight: 600;
}

.sectionDivs__image{
    height: 100%;
    width: 100%;
}

.sectionDivs__content  {
    font-size: 14px;
}

.sections__sectionDivs--xsmall  {
    max-width: 220px;
}

.sectionDivs__head--small{
    font-size: 22px;
}

/* media queries required for resposiveness */

@media only screen and (max-width: 850px) {
    .header__head  {
        font-size: 12.5vw;
    }
    
    .sectionDivs__head  {
        font-size: 20px;
    }
    .sectionDivs__head--small{
        font-size: 16px;
    }
  }

@media only screen and (max-width: 750px) {
    .sections  {
        display: block;
        padding: 10px 0;
    }
    .sections__sectionDivs  {
        max-width: 100%;
    }
    .sections__sectionDivs--empty  {
        max-width: 350px !important;
        margin: auto;
    }
  }